---
layout: default
---

<div>
  <h1>Welcome</h1>
  <p>Hi! My name is Will</p>
  <p>I have been building iOS apps now for over 10 years. The main reason I say that is so it's obvious that I'm not a web developer. The fact that this site even exists is a small miracle.</p>
  <p>This site is mainly devoted to my personal hobby projects, like <a href="https://apps.apple.com/us/app/linked-list/id1522236657">Linked List</a>. It is a tool borne out of my own need for a more centralized method of testing universal links and AASA files across multiple domains. If you'd like to try it out before downloading, check out the <a href="{{ site.baseurl }}/link">app clip</a>.</p>
  <p> Feel free to <a href="mailto://mcgintw@gmail.com">reach out</a>!
</div>

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <h1>{{ post.title }}</h1>

        <div>
          <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
        </div>
      </a>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}

  <!-- pagination -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <span class="webjeda">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>
